.ui{



    &__btn{
        padding: 1.5rem 2.5rem;
        border-radius: 20%;
        outline: transparent;
        border: none;
        // border: 0.4rem solid;
        box-shadow: inset 2px 2px 5px rgba(255, 255, 255, 0.568), inset -2px -2px 5px rgba(0, 0, 0, 0.568);
        position: relative;
        text-transform: uppercase;

        &::before{
            content: " ";
            width: 80%;
            height: 80%;
            // background-color: azure;
            background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), transparent);
            position: absolute;
            border-radius: inherit;
            top: 0%;
            left: 10%;
            z-index: -1;
        }

        &--blue{
            background-image: radial-gradient(circle, rgb(0, 60, 255), rgb(0, 153, 255));
            // border-color: rgb(0, 21, 88);
            color: white;
        }
    }
}